
.image {
		min-height: 90vh;
		background-position: center;
		background-size: cover;
		position: relative;
        background-image: url('../../../assets/courier_guy.jpg');
							}
.overlay {
		background: rgba(0,0,0,0.45);
		z-index: 1;
	}
.content {
		z-index: 2;
	}
